<div id="fondo2" class="container-fluid bg-secondary min-vh-100">
    <main>
        <div class="row justify-content-center align-items-center text-dark">
            <div class="col-12">
                <img class="d-block mx-auto my-3" src="../../../assets/img/cifp.png" alt="logo-cifp-virgendegracia" width="150px">
            </div>
            <div class="col-11 col-md-9 col-lg-5  mx-auto border bg-white shadow px-5 py-4 rounded">
                <h1 class="text-center">Recuperar contraseña.</h1>
                <form [formGroup]="nuevoRec" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña: </label>
                        <input type="password" class="form-control" id="password" formControlName="password" minlength="5" />
                        <div class="error" *ngIf="(submitted || formulario.password.touched) && formulario.password.errors">
                            <div *ngIf="formulario.password.errors.required">Este campo es obligatorio</div>
                            <div *ngIf="formulario.password.errors.minlength">La contraseña debe contener más de {{formulario.password.errors.minlength.requiredLength}} carácteres</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label">Repite la contraseña: </label>
                        <input type="password" class="form-control" formControlName="password2" minlength="5"/>
                        <div class="error" *ngIf="(submitted || formulario.password2.touched) && formulario.password2.errors">
                            <div *ngIf="formulario.password2.errors.required">Este campo es obligatorio</div>
                            <div *ngIf="formulario.password2.errors.minlength">La contraseña debe contener más de {{formulario.password2.errors.minlength.requiredLength}} carácteres</div>
                        </div>
                        <div class="error" *ngIf="validarDistintasPass()">Las contraseñas no son iguales</div>
                    </div>
                    <div class="mt-1">{{message}}</div>
                    <div class="row">
                        <div class="col-12 col-md-9 col-lg-7">
                            <button type="submit" class="btn btn-primary w-50">Recuperar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>