<div class="container-fluid">
    <main class="row">
        <div id="menu" class="col-md-2">
            <app-menu></app-menu>
        </div>
        <div class="col-md-10">
            <div class="row mt-2 ml-1">
                <h1>{{curso.cicloFormativo}} </h1>
                <div class="ml-auto">
                    <app-opciones></app-opciones>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Añadir nuevo alumno:</h5>
                    <form [formGroup]="nuevoAlumno" (ngSubmit)="onSubmit()">
                        <div class="form-row">
                            <div class="col">
                                <label for="nombre">Nombre:</label>
                                <input type="text" formControlName="nombre" id="nombre" class="form-control" pattern="^([a-zA-ZñÑáéíóúÁÉÍÓÚüÜ ']{2,25})+([\s]*)+([a-zA-ZñÑáéíóúÁÉÍÓÚüÜ ']{1,25})$" />
                                <div class="error" *ngIf="(submitted || formulario.nombre.touched) && formulario.nombre.errors">
                                    <div *ngIf="formulario.nombre.errors.required">Este campo es obligatorio</div>
                                    <div *ngIf="formulario.nombre.errors.pattern">Introduce un nombre válido</div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="apellidos">Apellidos:</label>
                                <input type="text" id="apellidos" formControlName="apellidos" class="form-control" pattern="^([a-zA-ZñÑáéíóúÁÉÍÓÚüÜ']{2,25})+([\s]{1})+([a-zA-ZñÑáéíóúÁÉÍÓÚüÜ ']{2,25})$" />
                                <div class="error" *ngIf="(submitted || formulario.apellidos.touched) && formulario.apellidos.errors">
                                    <div *ngIf="formulario.apellidos.errors.required">Este campo es obligatorio</div>
                                    <div *ngIf="formulario.apellidos.errors.pattern">Introduce dos apellidos válidos</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="apellidos">Correo:</label>
                            <input type="email" id="correo" formControlName="correo" class="form-control" />
                            <div class="error" *ngIf="(submitted || formulario.correo.touched) && formulario.correo.errors ">
                                <div *ngIf="formulario.correo.errors.required">Este campo es obligatorio</div>
                                <div *ngIf="formulario.correo.errors.email">Introduce un email válido</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="localidad">Localidad:</label>
                                <input type="text" formControlName="localidad" id="localidad" class="form-control" minlength="5" />
                                <div class="error" *ngIf="(submitted || formulario.localidad.touched) && formulario.localidad.errors">
                                    <div *ngIf="formulario.localidad.errors.required ">Este campo es obligatorio</div>
                                    <div *ngIf="formulario.localidad.errors.minlength">La localidad debe contener más de {{formulario.localidad.errors.minlength.requiredLength}} caracteres</div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="residencia">Residencia:</label>
                                <input type="text" formControlName="residencia" id="residencia" class="form-control" minlength="5" />
                                <div class="error" *ngIf="(submitted || formulario.residencia.touched) && formulario.residencia.errors">
                                    <div *ngIf="formulario.residencia.errors.required ">Este campo es obligatorio</div>
                                    <div *ngIf="formulario.residencia.errors.minlength">La residencia debe contener más de {{formulario.residencia.errors.minlength.requiredLength}} caracteres</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="dni">Dni:</label>
                                <input type="text" formControlName="dni" id="dni" class="form-control" pattern="^[0-9]{8}[A-Za-z]{1}$" />
                                <div class="error" *ngIf="(submitted || formulario.dni.touched) && formulario.dni.errors">
                                    <div *ngIf="formulario.dni.errors.required">Este campo es obligatorio</div>
                                    <div *ngIf="formulario.dni.errors.pattern">Introduce un dni válido</div>
                                </div>
                            </div>
                            <div class="col">
                                <label for="telefono">Telefono:</label>
                                <input type="text" formControlName="telefono" id="telefono" class="form-control" pattern="^[9|8|7|6]\d{8}$" />
                                <div class="error" *ngIf="(submitted || formulario.telefono.touched) && formulario.telefono.errors">
                                    <div *ngIf="formulario.telefono.errors.required">Este campo es obligatorio</div>
                                    <div *ngIf="formulario.telefono.errors.pattern">Introduce un teléfono válido</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <button type="reset" (click)="onReset()" class="btn border boton-estilo">Cancelar</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary boton-estilo">Añadir</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <h5>Familia profesional: {{curso.familiaProfesional}}</h5>
                    <h5>Ciclo formativo: {{curso.cicloFormativo}} {{curso.cicloFormativoA}}</h5>
                    <h5>Tutor: {{curso.tutor}}</h5>
                    <h5>Cuso académico: {{curso.cursoAcademico}}</h5>
                    <h5>Número de horas: {{curso.nHoras}}</h5>
                </div>
            </div>
        </div>
    </main>
</div>