<body class="dark">
    <div class="container-fluid">
        <main class="row">
            <div class="col-md-3">
                <app-menu></app-menu>
            </div>
            <div class="col-md-9">
                <div class="opciones mt-2 float-right">
                    <button class="btn btn-primary mr-2" name="avisos"><i class="far fa-bell"></i></button>
                    <button class="btn btn-primary" name="cerrarSesion"><i class="fas fa-sign-out-alt"></i></button>
                </div>


                <form [formGroup]="nuevoAlumno" (ngSubmit)="onSubmit()">
                    <div>
                        <input type="email" formControlName="a" />
                        <div *ngIf="submitted && formulario.a.errors">
                            <div *ngIf="formulario.a.errors.required">No puede estar vacío</div>
                            <div *ngIf="formulario.a.errors.email">Debe ser email valido</div>
                        </div>
                    </div>
                    <div>
                        <input type="text" formControlName="b" />
                        <div *ngIf="submitted && formulario.b.errors">
                            <div *ngIf="formulario.b.errors.required">No puede estar vacío</div>
                            <div *ngIf="formulario.b.errors.minlength">Debe contener + d 4 caracteres</div>
                        </div>
                    </div>
                    <div>
                        <input type="text" formControlName="c" />
                        <div *ngIf="submitted && formulario.c.errors">
                            <div *ngIf="formulario.c.errors.required">No puede estar vacío</div>
                            <div *ngIf="formulario.c.errors.minlength">Debe contener + d 5 caracteres</div>
                        </div>
                    </div>
                    <button>Añadir</button>
                    <button type="reset" (click)="onReset()">Cancelar</button>
                </form>
            </div>
        </main>
    </div>
</body>