<main class="container-fluid">
    <div class="row">
        <!--**************************************MENU***************************************-->
        <div id="menu" class="col-12 col-lg-2 pr-0 bg-light border-right">
            <app-menu></app-menu>
        </div>
        <!--***********************************CONTENIDO***************************************-->
        <div id="contenido" class="col-12 col-lg-10 overflow-hidden mt-4">
            <!--*****NAV*****-->
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-csv-tab" data-toggle="tab" href="#nav-csv" role="tab" aria-controls="nav-home" aria-selected="true">Importar datos</a>
                    <a class="nav-item nav-link" id="nav-admin-tab" data-toggle="tab" href="#nav-admin" role="tab" aria-controls="nav-admin" aria-selected="false">Administración</a>
                    <a class="nav-item nav-link" id="nav-admin2-tab" data-toggle="tab" href="#nav-admin2" role="tab" aria-controls="nav-admin2" aria-selected="false">Tutores</a>
                </div>
            </nav>
            <!--****CONTENIDO NAV****-->
            <div class="tab-content" id="nav-tabContent">
                <!--Importación CSV-->
                <div class="tab-pane fade show active" id="nav-csv" role="tabpanel" aria-labelledby="nav-csv-tab">
                    <div id="importacionCSV" class="col-11 col-md-10 mx-auto shadow-sm mt-2 bg-light border card my-5">
                        <div class="row">
                            <div class="col-12 card-header text-white bg-primary">
                                <h1 class="font-weight-bolder ml-4">
                                    Importar datos
                                </h1>
                            </div>
                            <div class="card-body col-12 px-5 pb-5">
                                <form [formGroup]="profesoresCSV" (ngSubmit)="onSubmitProfesores()">
                                    <div class="form-row">
                                        <h2 for="profesoresCSV">Profesores</h2>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <label *ngIf="!profCSV" class=" custom-file-label " for="profesoresCSV">Sube aquí tu archivo</label>
                                                <label *ngIf="profCSV" class=" custom-file-label " for="profesoresCSV">{{profCSV.name}}</label>
                                                <input type="file" class="custom-file-input" formControlName="profesoresCSV" id="profesoresCSV" (change)="guardarProfesoresCSV($event)">

                                            </div>
                                            <div class="input-group-append ">
                                                <button class="btn btn-primary ">Añadir</button>
                                            </div>
                                        </div>
                                        <div class="error" *ngIf="submittedProfesores && formularioProfesores.profesoresCSV.errors ">
                                            <div *ngIf="formularioProfesores.profesoresCSV.errors.required ">Este campo es obligatorio</div>
                                        </div>
                                    </div>
                                </form>

                                <!-- CSV alumnos por curso-->
                                <div class="mt-4">
                                    <h2 class="m-0 border-top">Alumnos </h2>
                                    <div>
                                        <span class="badge badge-primary mb-3">Cursos sin alumnos: {{cursosSinAlumnos.length}}</span>
                                    </div>
                                    <!--Select cursos sin alumnos-->
                                    <label for="selectCursos">Elegir curso:</label>
                                    <select #selectCursos id="selectCursos" (change)="onChange(selectCursos.value)" class="form-control">
                                        <option *ngFor="let curso of cursosSinAlumnos" [value]="curso.id">{{curso.cicloFormativoA}}</option>
                                    </select>
                                    <form *ngIf="haCambiado" [formGroup]="alumnosCSV" (ngSubmit)="onSubmitAlumnos()" class="mt-3">
                                        <div class="form-row">
                                            <h3 for="profesoresCSV">Alumnos del curso {{cursoSeleccionado.cicloFormativoA}} CSV:</h3>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" formControlName="alumnosCSV" id="alumnosCSV" (change)="guardarAlumnosCSV($event)">
                                                    <label *ngIf="!alumnCSV" class="custom-file-label" for="alumnosCSV">Sube aquí tu archivo</label>
                                                    <label *ngIf="alumnCSV" class="custom-file-label" for="alumnosCSV">{{alumnCSV.name}}</label>
                                                </div>
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary">Añadir</button>
                                                </div>
                                            </div>
                                            <div class="error" *ngIf="submittedAlumnos && formularioAlumnos.alumnosCSV.errors">
                                                <div *ngIf="formularioAlumnos.alumnosCSV.errors.required">Este campo es obligatorio</div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Administración cuentas-->
                <div class="tab-pane fade" id="nav-admin" role="tabpanel" aria-labelledby="nav-admin-tab">
                    <!--Cuentas inactivas-->
                    <div *ngIf="cuentasAdministrar.length > 0" #cuentasInactivas class="col-11 col-md-10  mx-auto shadow-sm mt-2 bg-light border card mt-5 mb-5">
                        <div class="row">
                            <div class="col-12 card-header text-white bg-primary">
                                <h1 class="font-weight-bolder ml-4">
                                    Cuentas inactivas
                                </h1>
                            </div>
                            <div class="card-body col-12 col-lg-10 mx-auto py-3">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col">Nombre completo</th>
                                            <th scope="col">Correo</th>
                                            <th scope="col">Teléfono</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" *ngFor="let cuenta of cuentasAdministrar">
                                            <td>
                                                {{cuenta.nombre}} {{cuenta.apellidos}}
                                            </td>
                                            <td>{{cuenta.correo}}</td>
                                            <td>{{cuenta.tlf}}</td>
                                            <td>
                                                <!--Rol-->
                                                <button *ngIf="cuenta.rol == 2" class="btn btn-primary mr-2" (click)="cambiarRol(cuenta.dni)">
                                                    <i class="fas fa-user-tie"></i>
                                                </button>
                                                <button *ngIf="cuenta.rol == 3" class="btn btn-primary mr-2" (click)="cambiarRol(cuenta.dni)">
                                                    <i class="fas fa-chalkboard-teacher"></i>
                                                </button>
                                                <!--Act/Desact-->
                                                <button *ngIf="cuenta.activo == 0" class="btn btn-success mr-2" (click)="activarDesactivarCuenta(cuenta.dni)">
                                                    <i class="fas fa-check"></i>
                                                </button>
                                                <button *ngIf="cuenta.activo == 1" class="btn btn-danger mr-2" (click)="activarDesactivarCuenta(cuenta.dni)">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <!--Eliminar-->
                                                <button class="btn btn-danger" (click)="denegarAcceso(cuenta.dni)">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--Cuentas activas-->
                    <div *ngIf="cuentasActivas.length > 0" #cuentasAct class="col-11 col-md-10  mx-auto shadow-sm mt-2 bg-light border card mt-5 mb-5">
                        <div class="row">
                            <div class="col-12 card-header text-white bg-primary">
                                <h1 class="font-weight-bolder ml-4">
                                    Cuentas activas
                                </h1>
                            </div>
                            <div class="card-body col-12 col-lg-10 mx-auto py-3">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col">Nombre completo</th>
                                            <th scope="col">Correo</th>
                                            <th scope="col">Teléfono</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" *ngFor="let cuenta of cuentasActivas">
                                            <td>
                                                {{cuenta.nombre}} {{cuenta.apellidos}}
                                            </td>
                                            <td>{{cuenta.correo}}</td>
                                            <td>{{cuenta.tlf}}</td>
                                            <td>
                                                <!--Rol-->
                                                <button *ngIf="cuenta.rol == 2" class="btn btn-primary mr-2" (click)="cambiarRol(cuenta.dni)">
                                                    <i class="fas fa-user-tie"></i>
                                                </button>
                                                <button *ngIf="cuenta.rol == 3" class="btn btn-primary mr-2" (click)="cambiarRol(cuenta.dni)">
                                                    <i class="fas fa-chalkboard-teacher"></i>
                                                </button>
                                                <!--Act/Desact-->
                                                <button *ngIf="cuenta.activo == 0" class="btn btn-success mr-2" (click)="activarDesactivarCuenta(cuenta.dni)">
                                                    <i class="fas fa-check"></i>
                                                </button>
                                                <button *ngIf="cuenta.activo == 1" class="btn btn-danger mr-2" (click)="activarDesactivarCuenta(cuenta.dni)">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <!--Eliminar-->
                                                <button class="btn btn-danger" (click)="denegarAcceso(cuenta.dni)">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--Ninguna cuenta registrada-->
                    <div *ngIf="cuentasActivas.length == 0 && cuentasAdministrar.length == 0 " class="col-10 mx-auto shadow-sm mt-2 bg-light border card mt-5 mb-5 p-0">
                        <div class="row">
                            <div class="col-12 card-header text-white bg-primary">
                                <h1 class="font-weight-bolder ml-4">
                                    ¡Todavía no hay cuentas registradas que administrar!
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Administración tutores-->
                <div class="tab-pane fade" id="nav-admin2" role="tabpanel" aria-labelledby="nav-admin2-tab">
                    <div id="adminTutores" class="col-11 col-md-10  mx-auto shadow-sm mt-2 bg-light border card mt-5 mb-5">
                        <div class="row">
                            <div class="col-12 card-header text-white bg-primary">
                                <div class="row">
                                    <div class="col-9">
                                        <h1 class="font-weight-bolder ml-4">
                                            Cursos sin tutor <span *ngIf="cursosSinTutor.length > 0">({{cursosSinTutor.length}})</span>
                                        </h1>
                                    </div>
                                    <div class="col-3">
                                        <select class="form-control" *ngIf="cursosSinTutor.length > 0" #selectCursosSinTutor (change)="onChangeCurso(selectCursosSinTutor.value)">
                                            <option *ngFor="let cursoSinTutor of cursosSinTutor" [value]="cursoSinTutor.id">{{cursoSinTutor.cicloFormativoA}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body col-12 px-5">
                                <!--Gestión jefes de estudio-->
                                <h2 *ngIf="cursosSinTutor.length == 0">
                                    <span class="badge badge-primary">¡Todos los cursos tienen tutor asignado!</span>
                                </h2>
                                <h2>Asignar tutor a curso:</h2>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="selectCursos2">Elegir curso: </label>
                                        <select *ngIf="cursosCargados" id="selectCursos2" #selectCursos2 (change)="onChangeCurso(selectCursos2.value)" class="form-control">
                                            <option *ngFor="let curso of cursos" [selected]="curso.id === cursoSeleccionado2.id"  [value]="curso.id">{{curso.cicloFormativoA}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <div *ngIf="tutores.length == 0">
                                            <p class="m-0">Elegir tutor: </p>
                                            <span class="badge badge-primary mt-3">
                                                No hay ningún tutor registrado todavía
                                            </span>
                                        </div>
                                        <div *ngIf="tutores.length > 0">
                                            <label for="selectTutores">Elegir tutor: </label>
                                            <select #selectTutores id="selectTutores" (change)="onChangeTutor(selectTutores.value)" class="form-control">
                                                <option *ngFor="let tutor of tutores" [value]="tutor.dni">{{tutor.nombre}}  {{tutor.apellidos}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button *ngIf="tutores.length > 0" class="btn btn-primary mr-2 mt-3" (click)="elegirTutorCurso()">Asignar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>