<main class="container-fluid">
    <div class="row">
        <!--**************************************MENU***************************************-->
        <div id="menu" class="col-md-3 col-lg-2 pr-0 bg-light border-right">
            <app-menu></app-menu>
        </div>
        <!--***********************************CONTENIDO***************************************-->
        <div id="contenido" class="col-md-9 col-lg-10">
            <div name="opciones" class="row mt-2">
                <div id="opciones" class="ml-auto">
                    <app-opciones></app-opciones>
                </div>
            </div>
            <!--*****NAV*****-->
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-csv-tab" data-toggle="tab" href="#nav-csv" role="tab" aria-controls="nav-home" aria-selected="true">Importación CSV</a>
                    <a class="nav-item nav-link" id="nav-admin-tab" data-toggle="tab" href="#nav-admin" role="tab" aria-controls="nav-admin" aria-selected="false">Administración</a>
                    <a class="nav-item nav-link" id="nav-admin-tab" data-toggle="tab" href="#nav-admin2" role="tab" aria-controls="nav-admin2" aria-selected="false">Tutores</a>
                </div>
            </nav>
            <!--****CONTENIDO NAV****-->
            <div class="tab-content" id="nav-tabContent">
                <!--Importación CSV-->
                <div class="tab-pane fade show active" id="nav-csv" role="tabpanel" aria-labelledby="nav-csv-tab">
                    <div id="importacionCSV" class="col-lg-11 col-md-11 col-sm-11 col-11 mx-auto shadow-sm mt-2 bg-light border card mt-5 mb-5">
                        <div class="row">
                            <div class="col-12 card-header text-white bg-primary">
                                <h3 class="font-weight-bolder ml-4">
                                    Importación CSV
                                </h3>
                            </div>
                            <div class="card-body col-12 px-5">
                                <form [formGroup]="profesoresCSV" (ngSubmit)="onSubmitProfesores()">
                                    <div class="form-row">
                                        <h5 for="profesoresCSV">Profesores CSV:</h5>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <!-- (change)="cargandoCSV($event.target.files)"-->
                                                <input type="file" class="custom-file-input" formControlName="profesoresCSV" id="profesoresCSV">
                                                <label class="custom-file-label" for="profesoresCSV">Sube tu CSV aquí</label>
                                            </div>
                                            <div class="input-group-append">
                                                <button class="btn btn-primary">Añadir</button>
                                            </div>
                                        </div>
                                        <div class="error" *ngIf="submittedProfesores && formularioProfesores.profesoresCSV.errors">
                                            <div *ngIf="formularioProfesores.profesoresCSV.errors.required">Este campo es obligatorio</div>
                                        </div>
                                    </div>
                                </form>
                                <!-- CSV alumnos por curso-->
                                <div class="mt-5">
                                    <hr>
                                    <h2 *ngIf="cursos.length>0">Cursos por importar: {{cursosImportados}}/{{totalCursos}}</h2>
                                    <select #selectCursos (change)="onChange(selectCursos.value)" class="form-control">
                                        <option *ngFor="let curso of cursos" [value]="curso.id">{{curso.cicloFormativoA}}</option>
                                    </select>
                                    <form *ngIf="haCambiado" [formGroup]="alumnosCSV" (ngSubmit)="onSubmitAlumnos()" class="mt-5">
                                        <div class="form-row">
                                            <h5 for="profesoresCSV">Alumnos del curso {{cursoSeleccionado.cicloFormativoA}} CSV:</h5>
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" formControlName="alumnosCSV" id="alumnosCSV">
                                                    <label class="custom-file-label" for="alumnosCSV">Sube tu CSV aquí</label>
                                                </div>
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary">Añadir</button>
                                                </div>
                                            </div>
                                            <div class="error" *ngIf="submittedAlumnos && formularioAlumnos.alumnosCSV.errors">
                                                <div *ngIf="formularioAlumnos.alumnosCSV.errors.required">Este campo es obligatorio</div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Administración cuentas-->
                <div class="tab-pane fade" id="nav-admin" role="tabpanel" aria-labelledby="nav-admin-tab">
                    <div id="adminJefes" class="col-lg-11 col-md-11 col-sm-11 col-11 mx-auto shadow-sm mt-2 bg-light border card mt-5 mb-5">
                        <div class="row">
                            <div class="col-12 card-header text-white bg-primary">
                                <h3 class="font-weight-bolder ml-4">
                                    Administración cuentas
                                </h3>
                            </div>
                            <div class="card-body col-12 px-5">
                                <!--Gestión jefes de estudio-->
                                <div *ngIf="cuentasAdministrar.length == 0">No hay ninguna cuenta registrada nueva que administrar</div>
                                <table *ngIf="cuentasAdministrar.length > 0" class="table">
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col">Rol</th>
                                            <th scope="col">Nombre completo</th>
                                            <th scope="col">Correo</th>
                                            <th scope="col">Teléfono</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" *ngFor="let cuenta of cuentasAdministrar">
                                            <td *ngIf="cuenta.rol == 2">
                                                <i class="fas fa-user-tie text-primary" style="font-size: 30px;"></i>
                                            </td>
                                            <td *ngIf="cuenta.rol == 3">
                                                <i class="fas fa-chalkboard-teacher text-primary" style="font-size: 30px;"></i>
                                            </td>
                                            <td>
                                                {{cuenta.nombre}} {{cuenta.apellidos}}
                                            </td>
                                            <td>{{cuenta.correo}}</td>
                                            <td>{{cuenta.tlf}}</td>
                                            <td>
                                                <button class="btn btn-primary mr-2" (click)="cambiarRol(cuenta.dni)">
                                                    Cambiar rol
                                                </button>
                                                <button class="btn btn-primary mr-2" (click)="activarCuenta(cuenta.dni)">
                                                    Activar
                                                </button>
                                                <button class="btn btn-primary" (click)="denegarAcceso(cuenta.dni)">
                                                    Denegar
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Administración tutores-->
                <div class="tab-pane fade" id="nav-admin2" role="tabpanel" aria-labelledby="nav-admin2-tab">
                    <div id="adminTutores" class="col-lg-11 col-md-11 col-sm-11 col-11 mx-auto shadow-sm mt-2 bg-light border card mt-5 mb-5">
                        <div class="row">
                            <div class="col-12 card-header text-white bg-primary">
                                <h3 class="font-weight-bolder ml-4">
                                    Administración tutores
                                </h3>
                            </div>
                            <div class="card-body col-12 px-5">
                                <!--Gestión jefes de estudio-->
                                <h4>
                                    Cursos sin tutor: <span *ngIf="cursosSinTutor.length > 0" class="badge badge-primary">{{cursosSinTutor.length}}</span>
                                </h4>
                                <select *ngIf="cursosSinTutor.length > 0" #selectCursosSinTutor class="form-control">
                                    <option *ngFor="let cursoSinTutor of cursosSinTutor" >{{cursoSinTutor.cicloFormativo}}</option>
                                </select>
                                <h5>
                                    <span *ngIf="cursosSinTutor.length == 0" class="badge badge-primary">¡Todos los cursos tienen tutor asignado!</span>
                                </h5>
                                <hr>
                                <h4>Asignar tutor a curso:</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Elegir curso: </h5>
                                        <select #selectCursos2 (change)="onChangeCurso(selectCursos2.value)" class="form-control">
                                            <option *ngFor="let curso of cursos2" [value]="curso.id">{{curso.cicloFormativoA}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Elegir tutor: </h5>
                                        <div *ngIf="tutores.length == 0">No hay ningún tutor registrado todavía</div>
                                        <div *ngIf="tutores.length > 0">
                                            <select #selectTutores (change)="onChangeTutor(selectTutores.value)" class="form-control">
                                                <option *ngFor="let tutor of tutores" [value]="tutor.dni">{{tutor.nombre}}  {{tutor.apellidos}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button *ngIf="tutores.length > 0" class="btn btn-primary mr-2 mt-3" (click)="elegirTutorCurso()">Asignar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>