<!-- Modal que se muestra para actualizar la foto del usuario -->
<div>
    <div class="modal-header bg-primary text-white">
        <h4 class="modal-title">{{alumno.nombre}} {{alumno.apellidos}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
            <i class="fas fa-times fa-sm text-white"></i>
        </button>
    </div>
    <div class="modal-body">
        <form class="row" [formGroup]="fotoPerfil" (ngSubmit)="onSubmitFoto()" class="px-2">
            <div class="form-row ml-1">
                <h5 for="fotoPerfil">Foto de perfil:</h5>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" formControlName="fotoPerfil" id="fotoPerfil"
                            (change)="guardarFoto($event)">
                        <label *ngIf="!foto" class="custom-file-label input-dark" for="fotoPerfil">Sube aquí tu
                            foto</label>
                        <label *ngIf="foto" class="custom-file-label input-dark" for="fotoPerfil">{{foto.name}}</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary">Añadir</button>
                    </div>
                </div>
                <div class="error" *ngIf="submittedFoto && formularioFoto.fotoPerfil.errors">
                    <div *ngIf="formularioFoto.fotoPerfil.errors.required">Este campo es obligatorio</div>
                </div>
            </div>
        </form>
        <button (click)="cancelar()" class="btn btn-danger ml-2 pl-2 mt-2">
            Cancelar<i class="fa fa-times pl-2" aria-hidden="true"></i>
        </button>
    </div>
</div>