<div id="app" class="theme {{theme}}">
  <div class="swith-theme p-2 border rounded-top">
      <p>Cambio de tema</p>
    <button id="theme-default" class="btn btn-primary" (click)="setTheme('')">Normal</button>
    <button id="theme-luis" class="btn btn-primary ml-2"  (click)="setTheme('theme-luis')">Luis</button>
    <button id="theme-luis" class="btn btn-primary ml-2"  (click)="setTheme('theme-maria')">Maria</button>
    <button id="theme-luis" class="btn btn-primary ml-2"  (click)="setTheme('theme-daniel')">Daniel</button>
  </div>
  <router-outlet></router-outlet>
</div>
