//Variables
$color-word: #e3f4fb;
$color-excel: #e6faf5;
$color-curso: #ecebfa;
$color-alumno: #fff8ed;
$opciones-color1: ( "anexos1": $color-excel, "anexos2": $color-word);
$opciones-color2: ( "curso": $color-curso, "alumno": $color-alumno);
$tam-targ: 18rem;
//Estilo
@each $nombre,
$color in $opciones-color1 {
    div[name=#{$nombre}] {
        border-radius: 18px;
        padding: 1rem;
        height: $tam-targ;
        margin-top: 1rem;
        div:not(:first-of-type) {
            margin: 0.60rem;
            padding: 0.50rem;
            border-radius: 6px;
            background-color: $color;
            display: flex;
            button {
                height: 2.20rem;
            }
            span {
                margin-left: 1rem;
                margin-top: 0.40rem;
            }
        }
        #word {
            background-color: $color-word;
        }
    }
}

@each $nombre,
$color in $opciones-color2 {
    div[name=#{$nombre}] {
        border-radius: 18px;
        padding: 1rem;
        height: $tam-targ;
        margin-top: 1rem;
        div:nth-child(2) {
            background-color: $color;
            border-radius: 18px;
            div {
                padding: 0.50rem;
            }
        }
    }
}