//Breakpoints
$breakpoint-movil: 576px;
$breakpoint-tablet: 768px;
$breakpoint-ordenador: 994px;
$breakpoint-ordenadorl: 1200px;
//--------------------------------------
//--------------------------------------
//MOVIL
@media (max-width: $breakpoint-movil) {
    #opciones,
    #buscador {
        margin-top: 0.40rem;
    }
}

//TABLET
@media (max-width: $breakpoint-tablet) {
    #opciones {
        margin-top: 0.40rem;
    }
}

//ORDENADOR
@media (max-width: $breakpoint-ordenador) and (min-width: $breakpoint-tablet) {
    #buscador {
        margin-top: 0.40rem;
    }
}

//ORDENADOR L
@media (max-width: $breakpoint-ordenadorl) {}

//--------------------------------------
//--------------------------------------
#anexos {
    border-radius: 5px;
    div>div>div {
        height: 4rem;
        border-radius: 5px;
    }
    button {
        display: inline-block;
        width: 20%;
        vertical-align: top;
        i {
            font-size: 1.50rem;
        }
    }
    span {
        display: inline-block;
        width: 80%;
        padding-top: 0.2rem;
    }
}

.img {
    height: 7rem;
    width: 7rem;
    margin: 0 auto;
    border: 5px solid #b8d4dc;
    border-radius: 100%;
    overflow: hidden;
    box-sizing: content-box;
}

.alumno {
    height: 17rem;
}

div[name=botones] {
    position: absolute;
    bottom: 0;
    display: block;
    margin: auto;
}