<div class="container-fluid">
    <main class="row">
        <!--**************************************MENU***************************************-->
        <div id="menu" class="col-md-3 col-lg-2">
            <app-menu></app-menu>
        </div>
        <!--***********************************CONTENIDO***************************************-->
        <div id="contenido" class="col-md-9 col-lg-10">
            <div name="opciones" class="row mt-2">
                <div class="col-lg-4 col-md-8 col-sm-6 col-12 form-group-0 px-2">
                    <select #selectCursos (change)="onChange(selectCursos.value)" class="form-control">
                        <option *ngFor="let curso of cursos " [value]="curso.id">{{curso.cicloFormativo}}</option>
                    </select>
                </div>
                <div id="buscador" *ngIf="this.user.rol  === 'Jefe de estudios'" class="col-lg-3 col-md-8 col-sm-6 col-12 px-2">
                    <form class="d-flex align-items-center">
                        <input class="form-control  form-control-borderless" type="search" placeholder="Busca aquí..." name="searchbar">
                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div id="opciones" class="ml-auto">
                    <app-opciones></app-opciones>
                </div>
            </div>
            <h5>{{mensaje}}</h5>
            <div *ngIf="haCambiado" class="row">
                <!------------------------------------------------------------------------------------>
                <div id="curso" class="col-lg-11 col-md-11 col-sm-11 col-11 mx-auto shadow-sm mt-3">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{cursoSeleccionado.cicloFormativo}} - {{cursoSeleccionado.cursoAcademico}}
                                <button (click)="addAlumno()" class="btn btn-primary ml-2"><i class="fas fa-user-plus"></i></button>
                            </h3>
                        </div>
                        <div class="col-md-7 mx-auto">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>{{cursoSeleccionado.familiaProfesional}}</h5>
                                </div>
                                <div class="col-md-6">
                                    <h5>Alumnos matriculados: {{alumnos.length}}</h5>
                                </div>
                                <div class="col-md-6">
                                    <h5>Tutor: {{cursoSeleccionado.tutor}}</h5>
                                </div>
                                <div class="col-md-6">
                                    <h5>Horas: {{cursoSeleccionado.nHoras}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!------------------------------------------------------------------------------------>
                <div id="anexos" class="col-lg-11 col-md-11 col-sm-11 col-11 mx-auto shadow-sm mt-2">
                    <div class="row py-3">
                        <ng-container *ngFor="let anexo of anexos; index as j; ">
                            <div (click)="descargarAnexo(j)" class="col-lg-4 col-md-6 animacion">
                                <div class="py-2 mb-2">
                                    <button class="btn">
                                        <i *ngIf="anexo.tipo == 0" class="fas fa-file-word "></i>
                                        <i *ngIf="anexo.tipo == 1" class="fas fa-file-excel "></i>
                                    </button>
                                    <span> {{anexo.nombre}}</span>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <!------------------------------------------------------------------------------------>
                <div id="carousel" class="w-100 mx-5 carousel bg-dark shadow-lg slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel" data-slide-to="1"></li>
                        <li data-target="#carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div *ngIf="haCambiado">
                            <ng-container *ngFor="let alumno of alumnos; index as i; ">
                                <div *ngIf="i== 0 && i % 3 == 0" class="carousel-item active">
                                    <div class="row ml-5 pb-5">
                                        <div class="col-md-3 offset-md-1">
                                            <div class="px-2 bg-light shadow pb-4 mb-2 alumno">
                                                <img src="../../../assets/img/wjpg.jpg" alt=""> {{ alumno.nombre }} {{alumno.apellidos}}
                                                <button (click)="updateAlumno(alumno)" class="btn btn-primary "><i class="fas fa-user-edit "></i></button>
                                                <a href="mailto:{{alumno.correo}} ">{{alumno.correo}}</a>
                                            </div>
                                        </div>
                                        <div *ngIf="i + 1 < alumnos.length" class="col-md-3">
                                            <div class="px-2 bg-light shadow pb-4 alumno">
                                                <img src="../../../assets/img/p.jpg" alt=""> {{ alumnos[i + 1].nombre }} {{ alumnos[i + 1].apellidos }}
                                                <button (click)="updateAlumno(alumnos[i + 1])" class="btn btn-primary "><i class="fas fa-user-edit "></i></button>
                                                <a href="mailto:{{alumnos[i + 1].correo}} ">{{alumnos[i + 1].correo}}</a>
                                            </div>
                                        </div>
                                        <div *ngIf="i + 2 < alumnos.length" class="col-md-3">
                                            <div class="px-2 bg-light shadow pb-4 alumno">
                                                <img src="../../../assets/img/q.jpg" alt=""> {{ alumnos[i + 2].nombre }} {{ alumnos[i + 2].apellidos }}
                                                <button (click)="updateAlumno(alumnos[i + 2])" class="btn btn-primary "><i class="fas fa-user-edit "></i></button>
                                                <a href="mailto:{{alumnos[i + 2].correo}} ">{{alumnos[i + 2].correo}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="i >= 3 && i % 3 == 0" class="carousel-item">
                                    <div class="row ml-5">
                                        <div class="col-md-3 offset-md-1">
                                            <div class="px-2 bg-light shadow pb-4 mb-3 alumno">
                                                <img src="../../../assets/img/wjpg.jpg" alt=""> {{ alumno.nombre }} {{alumno.apellidos}}
                                                <button (click)="updateAlumno(alumno)" class="btn btn-primary "><i class="fas fa-user-edit "></i></button>
                                                <a href="mailto:{{alumno.correo}} ">{{alumno.correo}}</a>
                                            </div>
                                        </div>
                                        <div *ngIf="i + 1 < alumnos.length" class="col-md-3">
                                            <div class="px-2 bg-light shadow pb-4 alumno">
                                                <img src="../../../assets/img/p.jpg" alt=""> {{ alumnos[i + 1].nombre }} {{ alumnos[i + 1].apellidos }}
                                                <button (click)="updateAlumno(alumnos[i + 1])" class="btn btn-primary "><i class="fas fa-user-edit "></i></button>
                                                <a href="mailto:{{alumnos[i + 1].correo}} ">{{alumnos[i + 1].correo}}</a>
                                            </div>
                                        </div>
                                        <div *ngIf="i + 2 < alumnos.length" class="col-md-3">
                                            <div class="px-2 bg-light shadow pb-4 alumno">
                                                <img src="../../../assets/img/q.jpg" alt=""> {{ alumnos[i + 2].nombre }} {{ alumnos[i + 2].apellidos }}
                                                <button (click)="updateAlumno(alumnos[i + 2])" class="btn btn-primary "><i class="fas fa-user-edit "></i></button>
                                                <a href="mailto:{{alumnos[i + 2].correo}} ">{{alumnos[i + 2].correo}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon " aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </main>
</div>