<body class="dark">
    <div class="container-fluid">
        <main class="row">
            <div class="col-md-3">
                <app-menu></app-menu>
            </div>
            <div class="col-md-9">
                <div class="opciones mt-2 float-right">
                    <button class="btn btn-primary mr-2" name="avisos"><i class="far fa-bell"></i></button>
                    <button class="btn btn-primary" name="cerrarSesion"><i class="fas fa-sign-out-alt"></i></button>
                </div>
                <div class="mt-4">
                    <h1>Lista cursos</h1>

                    <select #selectCursos (change)="onChange(selectCursos.value)" class="form-control">
                        <option *ngFor="let curso of cursos" [value]="curso.id">{{curso.cicloFormativo}}</option>
                    </select>

                    <div *ngIf="activado">
                        <app-lista-alumnos [cursoSeleccionado]="cursoSeleccionado"></app-lista-alumnos>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>