    //Colores principales
    $blanco-menu: #FDFEFE;
    //Otros
    $color-main: #1c2129;
    $color-gris: #636c6e;
    $color-gris2: #636c6e;
    $color-menu: #080000;
    //Opciones menu
    aside {
        padding-top: 1rem;
        padding-right: 1rem;
        height: 100vh;
        background-color: $blanco-menu;
        div.user {
            margin: 0.4rem;
            img {
                display: block;
                margin: auto;
                height: 80px;
                border-radius: 50px;
            }
        }
        div.enlaces {
            button {
                margin: 0.4rem;
                width: 12.8rem;
                height: 3rem;
                text-align: left;
                i {
                    font-size: 18px;
                    width: 1.20rem;
                    margin-left: 1rem;
                }
                span {
                    color: $color-gris2;
                }
            }
            //Boton seleccionado
            button.active {
                background-color: black;
                span,
                i {
                    color: white;
                }
            }
        }
    }