<aside>
    <!--
    <div class="user">
        <a routerLink="/nuevoAlumno" class="">
            <img src="../../assets/img/guest.png" />
        </a>
        <h4 name="nombre">Fernando D.</h4>
        <p name="rol">Jefe de estudios</p>
    </div>
    -->
    <div class="enlaces">
        <a routerLink="/login" class="">
            <i class="fas fa-users"></i><span>Cursos</span>
        </a>
        <a routerLink="/listaEmpresas" class="">
            <i class="fas fa-briefcase"></i><span>Empresas</span>
        </a>
        <a routerLink="/" class="">
            <i class="fas fa-business-time"></i><span>Organizar FCT</span>
        </a>
        <a routerLink="/listaCursos" class="active">
            <i class="fas fa-cog"></i><span>Administración cursos</span>
        </a>
        <a routerLink="/" class="">
            <i class="fas fa-cog"></i><span>Administración empresas</span>
        </a>
        <a routerLink="/" class="">
            <i class="fas fa-building"></i><span>Centro</span>
        </a>
    </div>
</aside>