<div class="modal-header bg-primary text-white">
  <h4 class="modal-title" id="modal-basic-title">Añadir curso</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
    <i class="fas fa-times fa-sm text-white"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="newCurso" (ngSubmit)="onSubmit()">

      <div class="form-row mb-3">
        <div class="col-8">
          <input type="text" class="form-control" placeholder="Nombre del ciclo" formControlName="cicloFormativo"
            id="cicloFormativo" required>
          <div class="error" *ngIf="(submitted || form.cicloFormativo.touched) && form.cicloFormativo.errors">
            <div *ngIf="form.cicloFormativo.errors.required">Este campo es obligatorio</div>
          </div>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Acrónimo" formControlName="cicloFormativoA"
            id="cicloFormativoA" required>
          <div class="error" *ngIf="(submitted || form.cicloFormativoA.touched) && form.cicloFormativoA.errors">
            <div *ngIf="form.cicloFormativoA.errors.required">Este campo es obligatorio</div>
          </div>
        </div>
      </div>
      <select class="form-control mb-3" id="familiaProfesional" formControlName="familiaProfesional" required>
        <option value="">Familia Profesional</option>
        <option *ngFor="let family of families" value="{{ family.familiaProfesional }}">
          {{ family.familiaProfesional }}
        </option>
        <div class="error" *ngIf="(submitted || form.familiaProfesional.touched) && form.familiaProfesional.errors">
          <div *ngIf="form.familiaProfesional.errors.required">Este campo es obligatorio</div>
        </div>
      </select>
      <div class="form-row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="DNI Tutor" formControlName="dniTutor" id="dniTutor"
            required>
          <div class="error" *ngIf="(submitted || form.dniTutor.touched) && form.dniTutor.errors">
            <div *ngIf="form.dniTutor.errors.required">Este campo es obligatorio</div>
          </div>
        </div>
      </div>
      <div class="form-row  mb-2 pb-2 border-bottom">
        <div class="col">
          <input type="number" class="form-control" placeholder="Nº Horas" formControlName="nHoras" id="nHoras"
            required>
          <div class="error" *ngIf="(submitted || form.nHoras.touched) && form.nHoras.errors">
            <div *ngIf="form.nHoras.errors.required">Este campo es obligatorio</div>
          </div>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Curso academico" formControlName="cursoAcademico"
            id="cursoAcademico" required>
          <div class="error" *ngIf="(submitted || form.cursoAcademico.touched) && form.cursoAcademico.errors">
            <div *ngIf="form.cursoAcademico.errors.required">Este campo es obligatorio</div>
          </div>
        </div>
      </div>

    <button type="submit" class="btn btn-success mr-2">
      Añadir
      <i class="fa fa-plus"></i>
    </button>
    <button type="reset" (click)="onReset()" class="btn btn-primary mr-2">
      Reiniciar
      <i class="fa fa-undo"></i>
    </button>
    <button (click)="onCancel()" class="btn btn-danger">
      Cancelar
      <i class="fas fa-times"></i>
    </button>

  </form>
</div>