<div class="container-fluid">
    <main class="row">
        <!--**************************************MENU***************************************-->
        <div id="menu" class="col-12 col-lg-2 pr-0 bg-light border-right">
            <app-menu></app-menu>
        </div>
        <!--***********************************CONTENIDO***************************************-->
        <div id="contenido" class="col-12 col-lg-10 overflow-hidden">
            <div name="opciones" class="row py-3 shadow-sm">
                <div id="opciones" class="ml-auto">
                    <app-opciones></app-opciones>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <form class="col-sm-10 col-lg-6 card p-0" [formGroup]="newCurso" (ngSubmit)="onSubmit()">
                    <div class="card-header bg-primary">
                        <div class="card-title mb-0">
                            <p class="text-white mb-0 font-weight-bold">Nuevo curso</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-row mb-3">
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="Nombre del ciclo" formControlName="cicloFormativo" id="cicloFormativo" required>
                                <div class="error" *ngIf="(submitted || form.cicloFormativo.touched) && form.cicloFormativo.errors">
                                    <div *ngIf="form.cicloFormativo.errors.required">Este campo es obligatorio</div>
                                </div>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Acrónimo" formControlName="cicloFormativoA" id="cicloFormativoA" required>
                                <div class="error" *ngIf="(submitted || form.cicloFormativoA.touched) && form.cicloFormativoA.errors">
                                    <div *ngIf="form.cicloFormativoA.errors.required">Este campo es obligatorio</div>
                                </div>
                            </div>
                        </div>
                        <select class="form-control mb-3" id="familiaProfesional" formControlName="familiaProfesional" required>
                            <option value="">Familia Profesional</option>
                            <option *ngFor="let family of families" value="{{ family.familiaProfesional }}">
                                {{ family.familiaProfesional }}
                            </option>
                            <div class="error" *ngIf="(submitted || form.familiaProfesional.touched) && form.familiaProfesional.errors">
                                <div *ngIf="form.familiaProfesional.errors.required">Este campo es obligatorio</div>
                            </div>
                        </select>
                        <div class="form-row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="DNI Tutor" formControlName="dniTutor" id="dniTutor" required>
                                <div class="error" *ngIf="(submitted || form.dniTutor.touched) && form.dniTutor.errors">
                                    <div *ngIf="form.dniTutor.errors.required">Este campo es obligatorio</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <input type="number" class="form-control" placeholder="Nº Horas" formControlName="nHoras" id="nHoras" required>
                                <div class="error" *ngIf="(submitted || form.nHoras.touched) && form.nHoras.errors">
                                    <div *ngIf="form.nHoras.errors.required">Este campo es obligatorio</div>
                                </div>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Curso academico" formControlName="cursoAcademico" id="cursoAcademico" required>
                                <div class="error" *ngIf="(submitted || form.cursoAcademico.touched) && form.cursoAcademico.errors">
                                    <div *ngIf="form.cursoAcademico.errors.required">Este campo es obligatorio</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-secondary">
                        <button type="submit" class="btn btn-success mr-2">
                            Añadir
                            <i class="fa fa-plus"></i>
                        </button>
                        <button type="reset" (click)="onReset()" class="btn btn-primary mr-2">
                            Reiniciar
                        <i class="fa fa-undo"></i>
                        </button>
                        <button (click)="onCancel()" class="btn btn-danger">
                            Cancelar
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>