<div class="container-fluid">
    <main class="row">
        <div id="menu" class="col-12 col-lg-2 pr-0 bg-light border-right">
            <app-menu></app-menu>
        </div>
        <div id="contenido" class="col-md-9 col-lg-10">
            <h5>{{mensaje}}</h5>
            <div class="row">
                <div class="col-11 mt-2 mx-auto">
                    <button (click)="clickCrearNueva()" id="nuevaEmpresa" class="btn btn-primary">{{textoAddEmpresa}}</button>
                    <div *ngIf="crearNueva">
                        <app-nueva-empresa></app-nueva-empresa>
                    </div>
                </div>
                <div id="empresas" class="col-lg-11 col-md-11 col-sm-11 col-11  mx-auto shadow-sm mt-4">
                    <div class="row py-3">
                        <ng-container *ngFor="let empresa of empresas; index as i;">
                            <!--Empresa-->
                            <div class="col-10">
                                <div class="bg-light p-4 mb-3 ml-2">
                                    <div class="row">
                                        <div class="col-4">
                                            <p id="nombreEmpresa"><b>{{empresa.nombre}}</b></p>
                                        </div>
                                        <div class="col-2 mt-1">
                                            <p>{{empresa.localidad}}</p>
                                        </div>
                                        <div class="col-2 mt-1">
                                            <p>{{empresa.email}}</p>
                                        </div>
                                        <div class="col-4 mt-1 ver">
                                            <button class="btn btn-primary" (click)=clickEditar(empresa)>Ver</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <!--Archivo-->
                                <button class="btn btn-primary w-100 mt-4" (click)="anexo0(empresa)">
                                    <i class="fas fa-file-word mr-2"></i>Anexo 0 
                                </button>
                            </div>
                        </ng-container>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2">
                            <button class="btn btn-primary w-100 mt-4" (click)="anexo1()">
                                <i class="fas fa-file-word mr-2"></i>Anexo 1
                            </button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary w-100 mt-4" (click)="anexo2()">
                                <i class="fas fa-file-word mr-2"></i>Anexo 2
                            </button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary w-100 mt-4" (click)="anexo3()">
                                <i class="fas fa-file-word mr-2"></i>Anexo 3
                            </button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary w-100 mt-4" (click)="anexo4()">
                                <i class="fas fa-file-word mr-2"></i>Anexo 4
                            </button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary w-100 mt-4" (click)="anexo5()">
                                <i class="fas fa-file-word mr-2"></i>Anexo 5
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>