<div id="fondo" class="container-fluid">
    <main class="row">
        <div id="menu" class="col-12 col-lg-2 pr-0 bg-light border-right">
            <app-menu></app-menu>
        </div>
        <div class="col-12 col-lg-10 overflow-hidden">
            <div class="row">
                <div class="col-11 mt-2 mx-auto">
                    <div *ngIf="crearNueva">
                    </div>
                </div>
                <div class="col-11 col-md-10 mx-auto shadow-sm bg-light border card my-5 tema-dark">
                    <div class="row card-header text-white bg-primary d-flex justify-content-between">
                        <h1>{{tituloSeccion}}</h1>
                        <button (click)="clickCrearNueva()" id="nuevaEmpresa" class="btn btn-secondary"><i class="fa {{claseAddEmpresa}}"></i> {{textoAddEmpresa}}</button>
                    </div>
                    <div class="row w-100 d-block mx-auto" *ngIf="crearNueva">
                        <app-nueva-empresa></app-nueva-empresa>
                    </div>
                    <!--Lista de empresas-->
                    <div class="row py-3" *ngIf="!crearNueva">
                        <ng-container *ngFor="let empresa of empresas; index as i;">
                            <!--Empresa-->
                            <div class="col-12 col-md-10">
                                <div class="bg-secondary p-4 mb-3 ml-2 rounded">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-4 text-center">
                                            <p id="nombreEmpresa"><b>{{empresa.nombre}}</b></p>
                                        </div>
                                        <div class="col-12 mt-1 col-md-6 col-lg-2 text-center">
                                            <p>{{empresa.localidad}}</p>
                                        </div>
                                        <div class="col-12 mt-1 col-md-6 col-lg-2 text-center">
                                            <p>{{empresa.email}}</p>
                                        </div>
                                        <div class="col-12 mt-1 ver col-md-6 col-lg-4">
                                            <button class="btn btn-primary w-75" (click)=clickEditar(empresa)>Ver</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2">
                                <!--Botón para anexo 0-->
                                <button class="btn btn-primary w-100 mb-4" (click)="anexo0(empresa)">
                                    <i class="fas fa-file-word mr-2"></i>Anexo 0 {{empresa.nombre}}
                                    </button>
                            </div>
                        </ng-container>
                        <!--PRUEBAS (borrar)-->
                        <div class="col-12">
                            <button type="button" class="btn btn-outline-danger" (click)="anexo1()">PRUEBAME</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>