<div id="fondo" class="container-fluid min-vh-100">
    <main class="row">
        <div id="menu" class="col-12 col-lg-2 pr-0 bg-light border-right">
            <app-menu></app-menu>
        </div>
        <div id="contenido" class="col-12 col-lg-10 overflow-hidden">
            <div class="row" id="caja-centro">
                <div class="col-11 mt-5 mx-auto">
                    <div class="card">
                        <div class="card-title bg-primary m-0">
                            <img src="../../../assets/img/cifp.png" alt="imagen" width="150px" class="logo">
                            <h2 class="card-title text-white font-weight-bolder">{{centro.nombre}}</h2>
                        </div>
                        <div class="card-body tema-dark text-white2">
                            <div class="card-text row justify-content-center">
                                <div class="row col-lg-6 col-md-6">
                                    <div class="col-lg-12 col-md-12 mb-3">Código: {{centro.codigo}}</div>
                                    <div class="col-lg-12 col-md-12 mb-3">Cif: {{centro.cif}}</div>
                                    <div class="col-lg-12 col-md-12 mb-3"><i class="fa fa-user" aria-hidden="true"></i> Director: {{director.nombre}}</div>
                                    <div class="col-lg-12 col-md-12 mb-3"><i class="fa fa-envelope" aria-hidden="true"></i> {{director.email}}</div>
                                    <div class="col-lg-12 col-md-12 mb-3">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> {{centro.calle}} {{centro.cp}} {{centro.localidad}} ({{centro.provincia}}).</div>
                                    <div class="col-lg-12 col-md-12 mb-3"><i class="fa fa-phone" aria-hidden="true"></i> {{centro.tlf}}</div>
                                    <div class="col-lg-12 col-md-12 mb-3"><i class="fa fa-envelope" aria-hidden="true"></i> {{centro.email}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer justify-content-end row bg-secondary">
                            <button type="button" *ngIf="user.rol=='Director'" aria-hidden="true" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                <i class="fa fa-edit mr-2" aria-hidden="true"></i>Editar
                            </button>
                        </div>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form [formGroup]="nuevoRegistro" (ngSubmit)="onSubmit()">
                                        <div class="modal-header bg-primary no-border">
                                            <h3 class="modal-title text-white font-weight-bolder" id="exampleModalLabel">Editar información</h3>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body tema-dark text-white2">
                                            <div class="row">
                                                <div class="col-md-6 col-lg-6">
                                                    <label>Código: </label>
                                                    <input type="text" formControlName="codigo" [(ngModel)]="centro.codigo" class="pl-2" />
                                                    <div *ngIf="submitted && formulario.codigo.errors">
                                                        <div *ngIf="formulario.codigo.errors.required">Este campo es obligatorio</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <label>Cif: </label>
                                                    <input type="text" formControlName="cif" [(ngModel)]="centro.cif" class="pl-2" />
                                                    <div *ngIf="submitted && formulario.cif.errors">
                                                        <div *ngIf="formulario.cif.errors.required">Este campo es obligatorio</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <label>Nombre: </label>
                                                    <input type="text" formControlName="nombre" [(ngModel)]="centro.nombre" class="pl-2" />
                                                    <div *ngIf="submitted && formulario.nombre.errors">
                                                        <div *ngIf="formulario.nombre.errors.required">Este campo es obligatorio</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <label>Provincia: </label>
                                                    <input type="text" formControlName="provincia" [(ngModel)]="centro.provincia" class="pl-2" />
                                                    <div *ngIf="submitted && formulario.provincia.errors">
                                                        <div *ngIf="formulario.provincia.errors.required">Este campo es obligatorio</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <label>Localidad: </label>
                                                    <input type="text" formControlName="localidad" [(ngModel)]="centro.localidad" class="pl-2" />
                                                    <div *ngIf="submitted && formulario.localidad.errors">
                                                        <div *ngIf="formulario.localidad.errors.required">Este campo es obligatorio</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <label>Código postal: </label>
                                                    <input type="number" formControlName="cp" [(ngModel)]="centro.cp" class="pl-2" />
                                                    <div *ngIf="submitted && formulario.cp.errors">
                                                        <div *ngIf="formulario.cp.errors.required">Este campo es obligatorio</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <label>Calle: </label>
                                                    <input type="text" formControlName="calle" [(ngModel)]="centro.calle" class="pl-2" />
                                                    <div *ngIf="submitted && formulario.calle.errors">
                                                        <div *ngIf="formulario.calle.errors.required">Este campo es obligatorio</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <label>Email: </label>
                                                    <input type="email" formControlName="email" [(ngModel)]="centro.email" class="pl-2" />
                                                    <div *ngIf="submitted && formulario.email.errors">
                                                        <div *ngIf="formulario.email.errors.required">Este campo es obligatorio</div>
                                                        <div *ngIf="formulario.email.errors.email">Introduce un email valido</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <label>Teléfono: </label>
                                                    <input type="tel" formControlName="tlf" id="phone" name="phone" pattern="^[9|8|7|6]\d{8}$" [(ngModel)]="centro.tlf" class="pl-2">
                                                    <div *ngIf="submitted && formulario.tlf.errors">
                                                        <div *ngIf="formulario.tlf.errors.required">Este campo es obligatorio</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer bg-secondary">
                                            <button class="btn btn-success" data-dismiss="modal" (click)='onSubmit()'><i class="fa fa-check" aria-hidden="true"></i> Aceptar</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times mr-1" aria-hidden="true"></i> Cerrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>