<div id="fondo" class="container-fluid">
    <main class="row">
        <div id="menu" class="col-12 col-lg-2 pr-0 bg-light border-right">
            <app-menu></app-menu>
        </div>
        <div class="col-12 col-lg-10 overflow-hidden">
            <div class="row">
                <div class="col-11 col-md-10 mx-auto shadow-sm mt-2 bg-light border card my-5">
                    <div class="row card-header text-white bg-primary">
                        <h1 class="col-12 ml-4">Empresa: {{empresa.nombre}}</h1>
                    </div>
                    <div class="row mt-2 card-body">
                        <div class="col-12">
                            <form [formGroup]="editarEmpresa" (ngSubmit)="actualizar()" class="col-12 p-0 w-100 ">
                                <h4>Información general</h4>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="nombre">Nombre:</label>
                                        <input type="text" formControlName="nombre" id="nombre" class="form-control" [(ngModel)]="empresa.nombre" />
                                        <div class="error" *ngIf="(submitted || formulario.nombre.touched) && formulario.nombre.errors">
                                            <div *ngIf="formulario.nombre.errors.required">Debes especificar un nombre</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="provincia">Provincia:</label>
                                        <input type="text" formControlName="provincia" id="provincia" class="form-control" [(ngModel)]="empresa.provincia" minlength="5" />
                                        <div class="error" *ngIf="(submitted || formulario.provincia.touched) && formulario.provincia.errors">
                                            <div *ngIf="formulario.provincia.errors.required">Debes especificar una provincia</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="localidad">Localidad:</label>
                                        <input type="text" formControlName="localidad" id="localidad" class="form-control" [(ngModel)]="empresa.localidad" minlength="5" />
                                        <div class="error" *ngIf="(submitted || formulario.localidad.touched) && formulario.localidad.errors">
                                            <div *ngIf="formulario.localidad.errors.required">Debes especificar una localidad</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="calle">Dirección:</label>
                                        <input type="text" formControlName="calle" id="calle" class="form-control" [(ngModel)]="empresa.calle" minlength="5" />
                                        <div class="error" *ngIf="(submitted || formulario.calle.touched) && formulario.calle.errors">
                                            <div *ngIf="formulario.calle.errors.required">Debes especificar una dirección</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-6 mt-2">
                                        <label for="cp">Código postal:</label>
                                        <input type="text" formControlName="cp" id="cp" class="form-control" [(ngModel)]="empresa.cp" minlength="5" />
                                        <div class="error" *ngIf="(submitted || formulario.cp.touched) && formulario.cp.errors">
                                            <div *ngIf="formulario.cp.errors.required">Debes especificar un código postal</div>
                                        </div>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <label for="cif">CIF:</label>
                                        <input type="text" formControlName="cif" id="cif" class="form-control" [(ngModel)]="empresa.cif" minlength="5" />
                                        <div class="error" *ngIf="(submitted || formulario.cif.touched) && formulario.cif.errors">
                                            <div *ngIf="formulario.cif.errors.required">Debes especificar un CIF</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="tlf">Nº de teléfono:</label>
                                        <input type="text" formControlName="tlf" id="tlf" class="form-control" [(ngModel)]="empresa.tlf" minlength="5" />
                                        <div class="error" *ngIf="(submitted || formulario.tlf.touched) && formulario.tlf.errors">
                                            <div *ngIf="formulario.tlf.errors.required">Debes especificar un número de teléfono</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="email">Correo electrónico:</label>
                                        <input type="email" formControlName="email" id="email" class="form-control" [(ngModel)]="empresa.email" minlength="5" />
                                        <div class="error" *ngIf="(submitted || formulario.email.touched) && formulario.email.errors">
                                            <div *ngIf="formulario.email.errors.required">Debes especificar un correo electrónico</div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!----------REPRESENTANTE---------->
                                <h4>Representante</h4>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="dniRepresentante">DNI:</label>
                                        <input type="text" formControlName="dniRepresentante" id="dniRepresentante" class="form-control" [(ngModel)]="empresa.dniRepresentante" />
                                    </div>
                                    <div class="col">
                                        <label for="nombreRepresentante">Nombre:</label>
                                        <input type="text" formControlName="nombreRepresentante" id="nombreRepresentante" class="form-control" [(ngModel)]="empresa.nombreRepresentante" />
                                    </div>
                                </div>
                                <br>
                                <!----------RESPONSABLES---------->
                                <h4>Responsables de la empresa</h4>
                                <div *ngIf="activados">
                                    <h5>Añadir nuevo</h5>
                                    <div class="form-row">
                                        <div class="col">
                                            <input type="text" formControlName="dniNuevo" class="form-control" placeholder="DNI" [(ngModel)]="nuevoResp.dni">
                                        </div>
                                        <div class="col">
                                            <input type="text" formControlName="nombreNuevo" class="form-control" placeholder="Nombre" [(ngModel)]="nuevoResp.nombre">
                                        </div>
                                        <div class="col">
                                            <button type="button" (click)="addResp()" class="btn btn-primary mx-2">
                                                <i class="fa fa-plus mr-2" aria-hidden="true"></i> Añadir
                                            </button>
                                        </div>
                                    </div>
                                    <h5>Gestionar</h5>
                                </div>
                                <ul>
                                    <li *ngFor="let responsable of empresa.responsables">
                                        {{responsable.nombreResponsable}} <button type="button" *ngIf="activados" (click)="eliminarResponsable(responsable.dniResponsable)" class="btn btn-danger"><i class="fa fa-times"></i></button></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <div class="row card-footer bg-secondary justify-content-end">
                        <button *ngIf="activados" class="btn btn-success" (click)="actualizar()"><i class="fa fa-check"
                                aria-hidden="true"></i> Guardar</button>
                        <button (click)="activarEdicion()" class="btn btn-primary mx-2">
                            <i class="fa fa-edit mr-2" aria-hidden="true"></i>{{textoBoton}}
                        </button>
                        <button (click)="eliminarEmpresa()" class="btn btn-danger mx-2"><i class="fa fa-times mr-1"
                                aria-hidden="true"></i> Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>