<div class="container-fluid">
    <main class="row">
        <div id="menu" class="col-12 col-lg-2 pr-0 bg-light border-right">
            <app-menu></app-menu>
        </div>
        <div class="col-12 col-lg-10 overflow-hidden">
            <div class="row mt-2 ml-1">
                <h1 class="ml-4">Empresa: {{empresa.nombre}}</h1>
            </div>
            <div class="row mt-4">
                <div class="col-lg-11 col-md-11 col-sm-11 col-11  mx-auto shadow-sm mt-2 bg-light p-4 rounded mb-5">
                    <div class="row">
                        <div class="col-6">
                            <h3>Información general</h3>
                        </div>
                        <button (click)="activarEdicion()" class="btn btn-primary">{{textoBoton}}</button>
                        <button (click)="eliminarEmpresa()" class="btn btn-primary ml-2">Eliminar</button>
                    </div>
                    <form [formGroup]="editarEmpresa" (ngSubmit)="actualizar()">
                        <div>
                            <label for="localidad">Nombre:</label>
                            <input type="text" formControlName="nombre" id="nombre" class="form-control" [(ngModel)]="empresa.nombre" minlength="5" />
                        </div>
                        <div>
                            <label for="localidad">Provincia:</label>
                            <input type="text" formControlName="provincia" id="provincia" class="form-control" [(ngModel)]="empresa.provincia" minlength="5" />
                        </div>
                        <div>
                            <label for="localidad">Localidad:</label>
                            <input type="text" formControlName="localidad" id="localidad" class="form-control" [(ngModel)]="empresa.localidad" minlength="5" />
                        </div>
                        <div>
                            <label for="localidad">Dirección:</label>
                            <input type="text" formControlName="calle" id="calle" class="form-control" [(ngModel)]="empresa.calle" minlength="5" />
                        </div>
                        <div>
                            <label for="localidad">Código postal:</label>
                            <input type="text" formControlName="cp" id="cp" class="form-control" [(ngModel)]="empresa.cp" minlength="5" />
                        </div>
                        <div>
                            <label for="localidad">CIF:</label>
                            <input type="text" formControlName="cif" id="cif" class="form-control" [(ngModel)]="empresa.cif" minlength="5" />
                        </div>
                        <div>
                            <label for="localidad">Nº de teléfono:</label>
                            <input type="text" formControlName="tlf" id="tlf" class="form-control" [(ngModel)]="empresa.tlf" minlength="5" />
                        </div>
                        <div>
                            <label for="localidad">Correo electrónico:</label>
                            <input type="text" formControlName="email" id="email" class="form-control" [(ngModel)]="empresa.email" minlength="5" />
                        </div>
                        <br>
                        <h4>Representante de la empresa</h4>
                        <div>
                            <label for="dniRepresentante">DNI:</label>
                            <input type="text" formControlName="dniRepresentante" id="dniRepresentante" class="form-control" [(ngModel)]="empresa.dniRepresentante" />
                        </div>
                        <div>
                            <label for="nombreRepresentante">Nombre:</label>
                            <input type="text" formControlName="nombreRepresentante" id="nombreRepresentante" class="form-control" [(ngModel)]="empresa.nombreRepresentante" />
                        </div>
                        <button *ngIf="activados" class="btn btn-primary mt-2 boton-estilo" (click)=actualizar()>Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>