<div id="fondo2" class="container-fluid bg-secondary min-vh-100">
    <main>
        <div class="row justify-content-center align-items-center text-dark">
            <div class="col-12">
                <img class="d-block mx-auto my-3" src="../../../assets/img/cifp.png" alt="logo-cifp-virgendegracia" width="150px">
            </div>
            <div class="col-11 col-md-9 col-lg-5  mx-auto border bg-white shadow px-5 py-4 rounded">
                <h1 class="text-center">Recuperar contraseña.</h1>
                <form [formGroup]="nuevoRec" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label lang="en" for="email" class="form-label">Email: </label>
                        <input type="email" class="form-control" formControlName="email" id="email">
                        <div class="error" *ngIf="(submitted || formulario.email.touched) && formulario.email.errors">
                            <div *ngIf="formulario.email.errors.required">Este campo es obligatorio</div>
                            <div *ngIf="formulario.email.errors.email">Introduce un email valido</div>
                        </div>
                    </div>
                    <div class="mt-1">{{message}}</div>
                    <div class="row">
                        <div class="col-12 col-md-9 col-lg-7">
                            <button class="btn btn-primary w-50">Recuperar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

</div>