$primary: #446c77;
$secondary: #b8d4dc;
//$dark: #464646;
$dark: #131313;
$danger: #752931;
$success: #3e823a;
$light: #f2f2f2;
$info: rgb(107, 107, 107);
$warning: rgb(212, 126, 76);
$h1-font-size: 2rem;