$primary: #3b5968;
$secondary: #71949e;
$dark: #c2bdbd;
$danger: #752931;
$success: #3e823a;
$light: rgb(22, 27, 33);
$info: rgb(107, 107, 107);
$h1-font-size: 2rem;
$white: rgb(33, 39, 46);
//Bordes
$border-color: rgb(47, 53, 58);
$border-radius: .50rem;
$border-width: 2px;