<main class="container-fluid">
    <div class="row">
        <!--**************************************MENU***************************************-->
        <div id="menu" class="col-md-3 col-lg-2">
            <app-menu></app-menu>
        </div>
        <!--***********************************CONTENIDO***************************************-->
        <div id="contenido" class="col-md-9 col-lg-10">
            <div name="opciones" class="row mt-2">
                <div id="opciones" class="ml-auto">
                    <app-opciones></app-opciones>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-8 col-12 form-group-0 mx-auto mb-5">
                <h1>Administración </h1>
                <h2>Asignar jefes de estudio</h2>
                <h2>Asignar tutores de cada curso</h2>
            </div>
        </div>
    </div>
</main>