/* You can add global styles to this file, and also import other style files */

@import "estilos.scss";
@import "~bootstrap/scss/bootstrap";
//Colores principales
$blanco-fondo: #FBFCFC;
$blanco-menu: #FDFEFE;
$b: #f8f8ff;
//Temas oscuro
$oscuroFondo: #06090f;
$oscuro1: #1c2129;
$oscuro2: #0d1117;
//Tema claro
$claro1: #C8C8C8;
$claro2: #ACABAB;
body {
    min-height: 100vh;
    color: black;
    background-color: $b;
}

#menu {
    background-color: $blanco-menu;
}