<div id="fondo2" class="container-fluid bg-secondary min-vh-100">
    <main>
        <div class="row">
            <div class="col-12">
                <img class="d-block mx-auto my-3" src="../../../assets/img/cifp.png" alt="logo-cifp-virgendegracia" width="150px">
            </div>
            <div class="col-11 col-md-9 col-lg-5 mx-auto border bg-white text-white2 shadow px-5 py-4 mb-5 rounded">
                <h1 class="text-center">Completa tu perfil</h1>
                <form [formGroup]="nuevoRegistro" (ngSubmit)="onSubmit()">
                    <div class="form-row mb-3 mt-3">
                        <div class="col">
                            <label for="nombre" class="form-label">Nombre: </label>
                            <input type="text" id="nombre" formControlName="nombre" class="form-control" [(ngModel)]="persona.nombre" pattern="^([a-zA-ZñÑáéíóúÁÉÍÓÚüÜ ']{2,25})+([\s]*)+([a-zA-ZñÑáéíóúÁÉÍÓÚüÜ ']{1,25})$" />
                            <div class="error" *ngIf="(submitted || formulario.nombre.touched) && formulario.nombre.errors">
                                <div *ngIf="formulario.nombre.errors.required">Este campo es obligatorio</div>
                                <div *ngIf="formulario.nombre.errors.pattern">Introduce un nombre válido</div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="apellidos" class="form-label">Apellidos: </label>
                            <input type="text" id="apellidos" formControlName="apellidos" class="form-control" [(ngModel)]="persona.apellidos" pattern="^([a-zA-ZñÑáéíóúÁÉÍÓÚüÜ']{2,25})+([\s]{1})+([a-zA-ZñÑáéíóúÁÉÍÓÚüÜ ']{2,25})$" />
                            <div class="error" *ngIf="(submitted || formulario.apellidos.touched) && formulario.apellidos.errors">
                                <div *ngIf="formulario.apellidos.errors.required">Este campo es obligatorio</div>
                                <div *ngIf="formulario.apellidos.errors.pattern">Introduce dos apellidos válidos</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col mb-3">
                            <label for="localidad" class="form-label">Localidad: </label>
                            <input type="text" id="localidad" formControlName="localidad" class="form-control" [(ngModel)]="persona.localidad" minlength="5" />
                            <div class="error" *ngIf="(submitted || formulario.localidad.touched) && formulario.localidad.errors">
                                <div *ngIf="formulario.localidad.errors.required">Este campo es obligatorio</div>
                                <div *ngIf="formulario.localidad.errors.minlength">La localidad debe contener más de {{formulario.localidad.errors.minlength.requiredLength}} caracteres</div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <label for="residencia" class="form-label">Residencia: </label>
                            <input type="text" id="residencia" formControlName="residencia" class="form-control" [(ngModel)]="persona.residencia" minlength="5" />
                            <div class="error" *ngIf="(submitted || formulario.residencia.touched) && formulario.residencia.errors">
                                <div *ngIf="formulario.residencia.errors.required">Este campo es obligatorio</div>
                                <div *ngIf="formulario.residencia.errors.minlength">La residencia debe contener más de {{formulario.residencia.errors.minlength.requiredLength}} caracteres</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo: </label>
                        <input type="email" id="correo" formControlName="correo" class="form-control" [(ngModel)]="persona.correo" />
                        <div class="error" *ngIf="(submitted || formulario.correo.touched) && formulario.correo.errors">
                            <div *ngIf="formulario.correo.errors.required">Este campo es obligatorio</div>
                            <div *ngIf="formulario.correo.errors.email">Introduce un email válido</div>
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col">
                            <label for="tlf" class="form-label">Teléfono: </label>
                            <input type="text" formControlName="tlf" id="tlf" class="form-control" pattern="^[9|8|7|6]\d{8}$" [(ngModel)]="persona.tlf">
                            <div class="error" *ngIf="(submitted || formulario.tlf.touched) && formulario.tlf.errors">
                                <div *ngIf="formulario.tlf.errors.required">Este campo es obligatorio</div>
                                <div *ngIf="formulario.tlf.errors.pattern">Introduce un teléfono válido</div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="selectRoles" class="form-label">Rol: </label>
                            <select #selectRoles id="selectRoles" class="form-control" (change)="onChange(selectRoles.value)">
                                <option value="1" selected>Elige el rol</option>
                                <option value="2">Jefe Estudios</option>
                                <option value="3">Tutor</option>
                            </select>
                            <p class="error" *ngIf="mensaje">{{mensaje}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-9 col-lg-7">
                            <button class="btn btn-primary w-50">Confirmar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

</div>