<body class="dark">
    <form [formGroup]="nuevoRegistro" (ngSubmit)="onSubmit()">
        <div>
            <h1>Completa tu perfil</h1>
            <div>
                <label>Nombre: </label>
                <input type="text" formControlName="nombre" [(ngModel)]="persona.nombre" />
                <div *ngIf="submitted && formulario.nombre.errors">
                    <div *ngIf="formulario.nombre.errors.required">No puede estar vacío</div>
                </div>
            </div>
            <div>
                <label>Apellidos: </label>
                <input type="text" formControlName="apellidos" [(ngModel)]="persona.apellidos" />
                <div *ngIf="submitted && formulario.apellidos.errors">
                    <div *ngIf="formulario.apellidos.errors.required">No puede estar vacío</div>
                </div>
            </div>
            <div>
                <label>Localidad: </label>
                <input type="text" formControlName="localidad" [(ngModel)]="persona.localidad" />
                <div *ngIf="submitted && formulario.localidad.errors">
                    <div *ngIf="formulario.localidad.errors.required">No puede estar vacío</div>
                </div>
            </div>
            <div>
                <label>Residencia: </label>
                <input type="text" formControlName="residencia" [(ngModel)]="persona.residencia" />
                <div *ngIf="submitted && formulario.residencia.errors">
                    <div *ngIf="formulario.residencia.errors.required">No puede estar vacío</div>
                </div>
            </div>
            <div>
                <label>Correo: </label>
                <input type="text" formControlName="correo" [(ngModel)]="persona.correo" />
                <div *ngIf="submitted && formulario.correo.errors">
                    <div *ngIf="formulario.correo.errors.required">No puede estar vacío</div>
                </div>
            </div>
            <div>
                <label>Telefono: </label>
                <input type="tel" formControlName="tlf" id="phone" name="phone" pattern="^[9|8|7|6]\d{8}$" [(ngModel)]="persona.tlf">
                <div *ngIf="submitted && formulario.tlf.errors">
                    <div *ngIf="formulario.tlf.errors.required">No puede estar vacío</div>
                </div>
            </div>
            <div>
                <label>Rol: </label>
                <select #selectRoles (change)="onChange(selectRoles.value)" class="form-select">
                    <option selected>Elige el rol</option>
                    <option value="2">Jefe Estudios</option>
                    <option value="3">Tutor</option>
                </select>
                <p *ngIf="mensaje">{{mensaje}}</p>
            </div>
        </div>
        <div>
            <button>Enviar</button>
            <button type="reset" (click)="onReset()">Cancelar</button>
        </div>
    </form>
</body>