<div class="modal-header bg-primary text-white">
  <h4 class="modal-title" id="modal-basic-title">Modificar curso</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
    <i class="fas fa-times fa-sm text-white"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="newCurso" (ngSubmit)="onSubmit()">
    <div class="form-row mb-3">
      <div class="col-8">
        <input type="text" class="form-control" placeholder="Nombre del ciclo" formControlName="cicloFormativo"
          id="cicloFormativo" [(ngModel)]="cursoU.cicloFormativo">
        <div class="error" *ngIf="(submitted)">
          <div *ngIf="form.cicloFormativo.errors?.required" class="text-danger">Este campo es obligatorio</div>
        </div>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Acrónimo" formControlName="cicloFormativoA"
          id="cicloFormativoA" [(ngModel)]="cursoU.cicloFormativoA">
        <div class="error" *ngIf="(submitted)">
          <div *ngIf="form.cicloFormativoA.errors?.required" class="text-danger">Este campo es obligatorio</div>
        </div>
      </div>
    </div>
    <select class="form-control mb-3" id="familiaProfesional" formControlName="familiaProfesional"
      [(ngModel)]="cursoU.familiaProfesional">
      <option *ngFor="let family of families" value="{{ family.familiaProfesional }}">
        {{ family.familiaProfesional }}</option>
      <div class="error" *ngIf="(submitted)">
        <div *ngIf="form.familiaProfesional.errors?.required" class="text-danger">Este campo es obligatorio</div>
      </div>
    </select>
    <div class="form-row mb-2 pb-2 border-bottom">
      <div class="col">
        <input type="number" class="form-control" placeholder="Nº Horas" formControlName="nHoras" id="nHoras"
          [(ngModel)]="cursoU.nHoras">
        <div class="error" *ngIf="(submitted)">
          <div *ngIf="form.nHoras.errors?.required" class="text-danger">Este campo es obligatorio</div>
        </div>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Curso academico" formControlName="cursoAcademico"
          id="cursoAcademico" [(ngModel)]="cursoU.cursoAcademico">
        <div class="error" *ngIf="(submitted)">
          <div *ngIf="form.cursoAcademico.errors?.required" class="text-danger">Este campo es obligatorio</div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success mr-2">
      Modificar
      <i class="fa fa-edit"></i>
    </button>
    <button (click)="onCancel()" class="btn btn-danger">
      Cancelar
      <i class="fas fa-times"></i>
    </button>
  </form>
</div>
